@import url("./header.css");
@import url("./Responsivo.css");
@import url("./main/classificacao.css");
@import url("./main/atual.css");
@import url("./main/pessoas.css");
@import url("./main/saiba-mais.css");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --color-w: #ffffff;
  --color-c1: #f5f5f5;
  --color-c2: #e55800;
  --color-c3: #827be9;
  --color-c4: #087889;
  --color-c5: #0091ca;
  --color-c6: #004182;
  --color-c7: #d0d0d0;
  --color-c8: #666666;
  --color-c9: #e1e9ee;
  --color-c10: #0073b1;
  --preto: #000000;
  --font-1: "Arial";
  --font-tit: "Inria Sans", sans-serif;
}

.font-tit {
  font: 300 1.375rem/1 "Inria Sans", sans-serif;
}

body {
  background-color: var(--color-c1);
  font-family: "Arial";
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 10rem;
  padding-right: 10rem;
}

main h1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

section {
  max-width: 1400px;
  margin-bottom: 1rem;
}

.grafico-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.grafico-texto h5 {
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--font-tit);
}

.grafico-texto span {
  color: var(--color-c8);
}

@media (max-width: 1480px) {
  main {
    padding-left: 9rem;
  padding-right: 9rem;
  }
}

@media (max-width: 1180px) {
  main {
    padding-left: 3rem;
  padding-right: 3rem;
  }
}

@media (max-width: 600px) {
  main {
    padding-left: 1rem;
  padding-right: 1rem;
  }
  main h1 {
    font-size: 1.575rem;
  }
  .grafico-texto h5 {
    font-size: 2.3rem;
  }
}