.saiba-mais {
  background: var(--color-w);
  border: 1px solid var(--color-c7);
  padding: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  flex-wrap: wrap;
}

.saiba-mais-texto {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.saiba-mais h4 {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.saiba-mais a {
  text-decoration: none;
  color: var(--color-w);
  background-color: var(--color-c10);
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  margin-top: 0.75rem;
}

@media (max-width: 600px) {
  .saiba-mais h4 {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .saiba-mais a {
    font-size: 1.2rem;
  }
}