.saiba-mais {
  background: var(--color-w);
  border: 1px solid var(--color-c7);
  padding: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  padding-right: 8rem;
}

.saiba-mais h4 {
  font-weight: 400;
}

.saiba-mais a {
  text-decoration: none;
  color: var(--color-w);
  background-color: var(--color-c10);
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
}